/*inside css*/
.ban1{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.ban2{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
/**inside css**/

/*prd css*/
.pdbn111781492{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.pdbn211781492{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
.pdbn111782244{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.pdbn211782244{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
.pdbn111782285{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.pdbn211782285{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
.pdbn111782318{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.pdbn211782318{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
.pdbn111782326{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.pdbn211782326{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
.pdbn111782448{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.pdbn211782448{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
.pdbn111782529{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.pdbn211782529{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
.pdbn111782576{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.pdbn211782576{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
.pdbn111782624{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.pdbn211782624{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
.pdbn111782628{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.pdbn211782628{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
.pdbn111782647{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.pdbn211782647{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
.pdbn111782682{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.pdbn211782682{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
/**prd css**/


/*testimonial css*/
.tbn1{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.tbn2{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
/**testimonial css**/

/*profiile css*/
.pbn1{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.pbn2{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
/**profiile css**/
/*profiile1 css*/
.pbn11{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.pbn12{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
/**profiile1 css**/
/*profiile2 css*/
.pbn21{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.pbn22{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
/**profiile2 css**/


/*cat-index css*/
.ctbn1{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
/**cat-index css**/

/*news css*/
.nbn1{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.nbn2{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
/**news css**/

/*career css*/
.jbn1{background:url(http://2.imimg.com/data2/KV/VY/MY-2417519/inner-banner.jpg) no-repeat left center; height:150px;}
.jbn2{background:url(http://2.imimg.com/data2/NT/VH/MY-2417519/inner-banner2.jpg) no-repeat center; height:275px;}
/**career css**/

IMG {BEHAVIOR: url("ts/pngbehavior.htc")}

img{border:0px;}
body{font-family:verdana,arial,sans-serif;font-size:12px;margin:0px;padding:0px;}
body,p,form{margin:0px;padding:0px;}
table {border-collapse:collapse;border:0px;}
table td, table th{margin:0px;padding:0px;font-size:12px;}
select{width:97%;font-size:11px;}
ul,ol{margin:0px 10px 0px 25px; padding:0px;}
a{color:#000000; text-decoration:underline;}
a:hover{text-decoration:none;}
.cu{cursor:pointer;}
.b{font-weight:bold;}
.f4{font-size:13px;}
.f6{font-size:15px;}
.he{height:23px;}
.p20{padding:5px 0 5px 25px;}
.p59 {padding:5px 0px 0px 12px;}
.p61{padding-left:14px;}
.p62{padding:5px 0 5px 0;}
.p21{padding:4px 0 4px 27px;}
.p22{padding:4px 0 4px 10px;}
.m15{margin-bottom:2px;}
.lh3{ line-height:18px;}
.a a{text-decoration:none;}
.a a:hover{text-decoration:underline;}
.nr{background-repeat:no-repeat;}
.m7{margin:4px 10px 4px 0px;}

/**css**/


/*query cart*/
.qdv {background-color:#ffffff; margin:20px; border:3px #E5E5E5 solid;}
/**query cart**/


/*iframe css*/
.dhtmlwindow{position:absolute;border:none;visibility:hidden;background-color:transparent;}
.drag-handle{padding:1px;text-indent:3px;font:bold 14px Arial;background-color:transparent;color:white; cursor:move;overflow:hidden;width:auto;}
/**iframe css**/

/*showcase*/
.ga-body{background-color:transparent;}
.ga-align{background-position:right;}
.ga-que{padding:0px;}

.ga-bg{background-color:#010000;}

.ga-name {font-size:11px;color:#ffffff;line-height:14px;padding:12px 2px 0px 2px;font-weight:bold;}
.ga-name A{color:#ffffff;text-decoration:none;}
.ga-name A:hover{text-decoration:underline;}

.ga-cate{font-size:13px;color:#fffeb1; line-height:13px;font-weight:bold;padding:2px 2px 8px 0px; text-transform:uppercase;}
.ga-cate A{color:#ffffff;text-decoration:none;}
.ga-cate A:hover{text-decoration:underline;}
/**showcase**/
/*search and tradeoffer page product blowup css*/
.btborder div{text-align:left; font-weight:bold; background-image:url('ts/add-eq.gif'); background-repeat:no-repeat; font-size:12px; font-family:arial; line-height:26px; margin-top:1px; padding-right:3px;}

.btborder div a{text-decoration:none; padding-left:23px; color:#270000;}

.btborder div a:hover{text-decoration:none; padding-left:23px; color:#FF0000;}

.btborder div.r{text-align:left; font-weight:bold; background-image:url('ts/add-eq1.gif'); background-repeat:no-repeat; font-size:12px; font-family:arial; line-height:26px; margin-top:1px;}

.btborder div.r a{text-decoration:none; padding-left:23px; color:#270000;}

.btborder div.r a:hover{text-decoration:none; padding-left:23px; color:#FF0000;}
/*search and tradeoffer page product blowup css*/
/* calander css start */
#calendarDiv {
	BORDER-RIGHT: #005D9E 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #005D9E 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 10px; VISIBILITY: hidden; PADDING-BOTTOM: 20px; BORDER-LEFT: #005D9E 1px solid; WIDTH: 205px; PADDING-TOP: 1px; BORDER-BOTTOM: #005D9E 1px solid; FONT-FAMILY: arial; POSITION: absolute; BACKGROUND-COLOR: #fff}
#calendarDiv SPAN {FLOAT: left}
#calendarDiv IMG {FLOAT: left}
#calendarDiv .selectBox {PADDING-RIGHT: 1px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; CURSOR: pointer; LINE-HEIGHT: 12px; PADDING-TOP: 1px}
#calendarDiv .selectBoxOver {PADDING-RIGHT: 1px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; CURSOR: pointer; LINE-HEIGHT: 12px; PADDING-TOP: 1px}
#calendarDiv .selectBoxTime {PADDING-RIGHT: 1px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; CURSOR: pointer; LINE-HEIGHT: 12px; PADDING-TOP: 1px}
#calendarDiv .selectBoxTimeOver {PADDING-RIGHT: 1px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; CURSOR: pointer; LINE-HEIGHT: 12px; PADDING-TOP: 1px}
#calendarDiv TD {PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px}
#calendarDiv .selectBox {BORDER-RIGHT: #E3F0F9 1px solid; BORDER-TOP: #E3F0F9 1px solid; BORDER-LEFT: #E3F0F9 1px solid; COLOR: #E3F0F9; BORDER-BOTTOM: #E3F0F9 1px solid; POSITION: relative}
#calendarDiv .selectBoxOver {BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; COLOR: #fff; BORDER-BOTTOM: #fff 1px solid; POSITION: relative; BACKGROUND-COLOR: #005D9E}
#calendarDiv .selectBoxTime {BORDER-RIGHT: #005D9E 1px solid; BORDER-TOP: #005D9E 1px solid; BORDER-LEFT: #005D9E 1px solid; COLOR: #005D9E; BORDER-BOTTOM: #005D9E 1px solid; POSITION: relative}
#calendarDiv .selectBoxTimeOver {BORDER-RIGHT: #216072 1px solid; BORDER-TOP: #216072 1px solid; BORDER-LEFT: #216072 1px solid; COLOR: #216072; BORDER-BOTTOM: #216072 1px solid; POSITION: relative}
#calendarDiv .topBar {PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; HEIGHT: 16px; BACKGROUND-COLOR: #005D9E}
#calendarDiv .activeDay {COLOR: #ff0000}
#calendarDiv .todaysDate {PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 201px; BOTTOM: 0px; LINE-HEIGHT: 17px; PADDING-TOP: 2px; POSITION: absolute; HEIGHT: 17px; BACKGROUND-COLOR: #E3F0F9; TEXT-ALIGN: center}
#calendarDiv .todaysDate DIV {FLOAT: left}
#calendarDiv .timeBar {RIGHT: 0px; WIDTH: 72px; COLOR: #fff; LINE-HEIGHT: 17px; POSITION: absolute; HEIGHT: 17px; BACKGROUND-COLOR: #E3F0F9}
#calendarDiv .timeBar DIV {FLOAT: left; MARGIN-RIGHT: 1px}
#calendarDiv .monthYearPicker {BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; DISPLAY: none; Z-INDEX: 1000; LEFT: 0px; BORDER-LEFT: #aaaaaa 1px solid; COLOR: #005D9E; BORDER-BOTTOM: #aaaaaa 1px solid; POSITION: absolute; TOP: 15px; BACKGROUND-COLOR: #E3F0F9}
#calendarDiv #monthSelect {WIDTH: 70px}
#calendarDiv .monthYearPicker DIV {CLEAR: both; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FLOAT: none; PADDING-BOTTOM: 1px; MARGIN: 1px; CURSOR: pointer; PADDING-TOP: 1px}
#calendarDiv .monthYearActive {COLOR: #E3F0F9; BACKGROUND-COLOR: #005D9E}
#calendarDiv TD {CURSOR: pointer; TEXT-ALIGN: right}
#calendarDiv .topBar IMG {CURSOR: pointer}
#calendarDiv .topBar DIV {FLOAT: left; MARGIN-RIGHT: 1px}
/* calander css end */
.on{display:block;}
.off{display:none;}
.doff {DISPLAY: none;}
.don {DISPLAY: block;}
.lh1{line-height:15px;}
.b{font-weight:bold;}
.f2{font-size:11px;}
.f3{font-size:10px;}
.fl{float:left;}
.txr{text-align:right;}
.cu{cursor:pointer;}
.m15{margin-left:12px;}
.p6{padding-top:5px;}
.p41{padding:5px 20px 5px 0px;}
.p42{padding:5px 3px 5px 17px;}
.p43{padding:5px 20px 0 0px;}
.a a{text-decoration:none;}
.a a:hover{text-decoration:underline;}
.wi5{width:138px;}