@import url("../tstyle.css");
.ts{background:url('http://www.trustseal.org/trustseal-logos/trustseal-trans.gif') no-repeat 0px 0px;}

.cgra{font-weight:bold;font-size:20pt;line-height:26px;color:#FFFFFF;padding:5px 5px 5px 30px;width:100%;}
.cgra a{color:#FFFFFF;text-decoration:none;}

/*home css*/
.hbg{background-color:#466500;}
.wi{width:100%;}
.tpbg{background:url(hmid.gif);height:172px;width:100%;}

.vl1 {vertical-align:top; width:100%;}

.hsr{font-size:9px;color:#000000;background-color:#ffffff;border:1px #98C03A solid;margin-right:5px;width:140px;height:15px;padding-left:5px;text-align:left;}

.hsr1{font-size:9px;color:#000000;background-color:#ffffff;border:1px #98C03A solid;margin-right:5px;width:120px;height:15px;padding-left:5px;text-align:left;}

.fbg{background:url(lan.gif) #FBC900;border-left: 1px #6E7A53 solid;text-align:center;}

.flag{font-size:11px;color:#FFFFFF;line-height:15px;}
.flag img{float:left;margin-right:6px;margin-top:4px;border:1px solid #dcdbdb;}
.lan{padding-right:10px;}

.tdiv{background:url(ldiv.gif) center right no-repeat;padding:9px 5px 9px 5px;}

.vl{vertical-align:top;}
.nbg{vertical-align:top;background:#6A8B05;}

.ndiv{background-color:#466500;border-bottom:1px #7E9E34 solid;padding:4px 0px 0px 0px;}

.hne{color:#E9ECE0;float:left;padding:0px 15px 0px 5px;background:url(arr.gif)  right 5px no-repeat;margin-right:8px;margin-left:5px;}
.hne a{color:#E9ECE0;text-decoration:none;}

.rpd1{padding:5px 5px 6px 10px;background:#608801;vertical-align:top;}
.nlpd{scrollbar-base-color:#FB651A;scrollbar-arrow-color:#ffffff;
z-index:1;width:190px;position:absolute;height:240px;margin-top:8px;visibility:visible;overflow:auto;}

.nhd{font-size:13px;font-weight:bold;color:#F8FB01;padding:0px 5px 0px 4px;text-decoration:none;}

.lnk {font-size:11px;color:#FFFFFF;background:url(do1.gif) no-repeat 0px 0px;line-height:16px;padding:0px 10px 2px 12px;margin-bottom:6px;margin-right:2px;text-decoration:none;display:block}
.lnk:hover{color:#ffffff;background:url(do2.gif) #3A5201 no-repeat 0px 0px;}

.hhd{font-size:18px;color:#FFFFFF;line-height:17px;font-weight:bold;border-left:8px #FDB000 solid;padding-left:8px;margin:20px 0px 9px 27px;}
.hhd b{color:#FBEC01;}

.him1{margin-bottom:15px;background:#527301;text-align:center;}
.him1 img{border-left:1px #7AA711 solid;border-top:1px #7AA711 solid;border-bottom:1px #7AA711 solid;}
.him2{border:1px #7E9E34 solid;margin-right:10px;}

.hnbg{background-color:#608801;border-left:1px #709A0C solid;border-top:1px #709A0C solid;border-bottom:1px #709A0C solid;}

.hnbt{background-color:#527301;text-align:center;}
.cu{cursor:pointer;} 

.hntx{color:#DBD4CF;padding-top:5px;display:block;font-weight:bold;text-decoration:none;}
.hntx:hover{color:#F8AD00;}
.hnim{padding:10px;text-align:center;}

.hnhd{color:#F7F7F7;background:url(hnhd.gif) bottom;font-weight:bold;padding:4px 0px 5px 0px;}
.hnhd b.sh1{color:#F7F7F7;cursor:pointer;padding:4px 0px 6px 5px;}
.hnhd b.sh{color:#080808;background:url(hnbg1.gif) bottom center;padding:4px 10px 10px 10px;}

.hnhd1{color:#F7F7F7;background:url(hnhd.gif) bottom;font-weight:bold;padding:4px 0px 5px 0px;}
.hnhd1 b.h1{color:#F7F7F7;padding:4px 3px 8px 5px;margin-right:5px;cursor:pointer;}
.hnhd1 b.h{color:#080808;background:url(hnbg1.gif) bottom center;padding:4px 9px 10px 9px;}

.hnhd2{color:#F7F7F7;background:url(hnhd.gif) bottom;font-weight:bold;padding:4px 0px 5px 0px;}
.hnhd2 b.sh1{color:#F7F7F7;cursor:pointer;padding:4px 0px 6px 5px;margin-left:10px;}
.hnhd2 b.sh{color:#080808;background:url(hnbg1.gif) bottom center;padding:4px 10px 10px 10px;}

.hnhd3{color:#F7F7F7;background:url(hnhd.gif) bottom;font-weight:bold;padding:4px 0px 5px 5px;}
.hnhd3 b.sh1{color:#F7F7F7;cursor:pointer;padding:4px 5px 6px 5px;}
.hnhd3 b.sh{color:#080808;background:url(hnbg1.gif) bottom center;padding:4px 15px 10px 15px;margin-left:10px;}

/*footer css*/
.fhd{color:#050303;font-size:13px;font-weight:bold;text-align:center;background:url(fhd.gif) #FF9400;padding:5px 20px 5px 19px;width:160px;}
.fhd a{color:#050303;text-decoration:none;}

.ftb{margin:0px 25px 0px 25px;}
.bot{background-color:#4B6A02;border:1px #3F5901 solid;width:100%;}

.bot1{border:1px #3F5901 solid;}
.bot1 td{border:1px #3F5901 solid;padding:10px 10px 10px 10px;}
.bot1 td a{color:#242424;background:url(cdot.gif) no-repeat 5px 6px;text-decoration:none;padding-left:15px;display:block;}
.bot1 td a:hover{color:#3B5400;background:url(cdot.gif) no-repeat 5px 6px;padding-left:15px;text-decoration:underline;}

.fbg1{background-color:#395100;}

.btli{background-color:#1C0E0E;border-bottom:1px #2F2323 solid;padding:4px 0px 2px 0px;margin-top:40px;}

.blnk{font-size:12px;color:#FFFFFF;line-height:18px;padding:5px 5px 5px 10px;background-color:#567901;border-bottom:1px #4A6901 solid;border-top:1px #4A6901 solid;margin-top:40px;}
.blnk a.vd{color:#FBEC01;text-decoration:none;background:url(video1.gif) no-repeat;padding-left:30px;}
.blnk A{color:#FFFFFF;text-decoration:none;}
.blnk A:hover{text-decoration:underline;}

.clnk{font-size:11px;color:#FFFFFF;padding:15px 10px 15px 10px;margin:10px 0px 10px 0px;}
.clnk a{ color:#FFFFFF;text-decoration:underline;}
.clnk a:hover{text-decoration:none;}
/**footer css**/

/*inside css*/
.jsbg1{background:url(hmid.gif) #608801;border-left:1px #9CB466 solid;border-right:1px #9CB466 solid;width:100%;}

.imid{background:url(imid.gif) #130505;border-left:1px #827B79 solid;border-right:1px #827B79 solid;}

.tlnk2{font-size:10px;line-height:13px;font-weight:bold;text-align:center;text-transform:uppercase;text-decoration:none;background:url(lkbg.gif) left center #EA4E01;}
.tlnk2 a{color:#FFFEFE;text-decoration:none;}
.tlnk2 div.v{color:#FFFF00; background:url(video.gif) no-repeat 0px 10px; padding-left:25px;  text-decoration:none; text-align:left;margin-left:20px;}
.tlnk2 .v a{color:#FFFF00;}

.tlnk3{font-size:10px;line-height:13px;font-weight:bold;text-align:center;text-transform:uppercase;background:url(chang.gif) left center #FFB004;}
.tlnk3 a{color:#100000;text-decoration:none;}
.tlnk3 div.v{color:#100000; background:url(videoh.gif) no-repeat 0px 10px; padding-left:25px;  text-decoration:none; text-align:left;margin-left:20px;}

.ban1{border-top:1px #3D5601 solid;border-bottom:1px #3D5601 solid;}
.ban2{border-bottom:1px #3D5601 solid;}

.rvl{margin:2px 10px 5px 10px}
.rpd{border-left:1px #395003 solid;background-color:#567901;vertical-align:top;}

.nhd1{font-size:14px;font-weight:bold;color:#F8FB01;padding:10px 5px 5px 10px;}
.nhd1 a{color:#F8FB01;text-decoration:none;}
.nhd1 a:hover{color:#F8FB01;}

.lnk1 {font-size:11px;color:#FFFFFF;background:url(doi.gif) no-repeat 0px 0px;line-height:16px;padding:0px 0px 2px 12px;margin-bottom:2px;font-weight:bold;text-decoration:none;display:block}
.lnk1:hover{color:#FBFBFB;background:url(doi1.gif) #3F5900 no-repeat 0px 0px;}

.plnk {font-size:11px;color:#FFFCFC;background:url(doip.gif) #3A5201 no-repeat 0px 0px;padding:3px 0px 5px 12px;margin-bottom:2px;font-weight:bold;text-decoration:none;display:block}
.plnk:hover{color:#FFFCFC;background:url(doip.gif) #3A5201 no-repeat 0px 0px;}

.lnkp {font-size:11px;color:#FFFCFC;background:url(dotp.gif) no-repeat 12px 5px;line-height:13px;padding:2px 0px 4px 23px;text-decoration:none;display:block;}
.lnkp:hover{color:#FFFCFC;text-decoration:underline;}

.dot{background:url(lnkd.gif); padding-top:1px;margin:4px 0px 4px 0px;}

.hnbg1{background-color:#4B6A02;border-top:1px #395003 solid;border-bottom:1px #395003 solid;}
.hnbt1{background-color:#617C21;text-align:center;border-bottom:1px #395003 solid;padding-top:2px;}

.sobg1{background-color:#4B6A02;border-bottom:1px #395003 solid;padding-bottom:8px;margin:20px 0px 20px 0px;}
.sotx1{color:#DCE5C7;padding:5px 3px 8px 5px;line-height:16px;}
.somr1{font-size:11px;color:#FFC000;padding:2px 5px 2px 5px;background-color:#354401;width:55px;text-align:center;cursor:pointer;margin:2px 0px 0px 5px;}

.nhdb{font-size:14px;color:#000000;font-weight:bold;background:url(ihdb.gif) #FFAA00;padding:4px 5px 4px 5px; border-left:1px #423737 solid;border-top:1px #423737 solid;border-bottom:1px #423737 solid;}

.nneh{font-size:14px;color:#010000;font-weight:bold;background:url(ihdb.gif) #FFB50B;padding:4px 5px 4px 5px;border-bottom:1px #405A03 solid;margin-bottom:6px;}
.netx1{color:#EFEFEF;padding:5px 5px 8px 5px;line-height:18px;}
.netx1 b{color:#FFD88E;}

.nepd{padding:5px;}
.nemr{font-size:11px;color:#FFDE34;background-color:#2C3F00;padding:1px 5px 5px 5px;text-align:center;}
.nevi{font-size:11px;color:#FFDE34;background-color:#2C3F00;padding:1px 5px 5px 5px;text-align:center;float:right;}

.join{font-size:14px;color:#000000;font-weight:bold;background:url(ihdb.gif) #FFAA00;padding:4px 5px 4px 5px;border-bottom:1px #423737 solid;margin-bottom:20px;}
.mess{background-color:#4B6A02;border-bottom:1px #395003 solid;padding:0px 0px 20px 0px;margin-top:20px;}

.mpd{vertical-align:top;width:100%;}
.mpd1{margin:20px 20px 20px 25px;}

.hd{font-size:18px;font-weight:bold;color:#E2FF9D;padding:1px 5px 1px 5px;border-left:8px #FBC900 solid;}

.text{color:#FFFFFF;padding:5px 10px 15px 0px;line-height:18px;vertical-align:top;text-align:justify;width:100%;}
.text table{border:#FFFFFF 1px solid;margin-top:3px;margin-bottom:3px;}
.text td{color:#FFFFFF;padding:3px;vertical-align:top;border:#FFFFFF 1px solid;}
.text td ul{margin-left:10px;padding:0px;}
.text td ul li{margin-left:10px;padding:0px;}
.text A{color:#FFFFFF;}

.himg{padding-left:15px;}
.himg1{margin:5px 0px 0px 0px;vertical-align:top;border:1px #3D5503 solid;}

.blt{background-color:#587C01;border:1px #3D5502 solid;margin-top:100px;}
.blt td{color:#FFFDFD;font-size:14px;padding:20px;font-weight:bold;line-height:21px;text-align:center;}
/**inside css**/


/*profile css*/
.pbnb1{border-top:1px #608801 solid;border-bottom:1px #4A6702 solid;}
.pbnb2{border-bottom:1px #4A6702 solid;}

.tbn1{border-top:1px #557701 solid;border-bottom:1px #4A6702 solid;}
.tbn2{border-bottom:1px #4A6702 solid;}

.pim{padding-left:0px;}
.pim1{margin:10px 0px 0px 0px;vertical-align:top;border:1px #3D5503 solid;}

.pbt{border-left:1px #4E6F01 solid; border-right:1px #4E6F01 solid; border-bottom:1px #4E6F01 solid;padding-top:12px;}

.shd {color:#F1E501;font-weight:bold;font-size:14px;background:url(prna.gif) center;padding:4px 10px 4px 10px;margin-top:25px;border:1px #51681B solid;}

.ptxt{color:#FFFFFF;line-height:18px;padding:10px;vertical-align:top;text-align:justify;width:100%;}
.ptxt table{border:#FFFFFF 1px solid;margin-top:3px;margin-bottom:3px;}
.ptxt td {color:#FFFFFF;padding:3px;vertical-align:top;border:#FFFFFF 1px solid;}
.ptxt td ul {margin-left:10px;padding:0px;}
.ptxt td ul li{margin-left:10px;padding:0px;}
.ptxt A{color:#FFFFFF;}

.videolink1{margin-bottom:5px;}
.videolink2{text-align:center;margin-bottom:15px;}
/**profile css**/

/*cate css*/
.ctbn1{border-top:1px #486502 solid;border-bottom:1px #3D5601 solid;}
.ctbn2{border-bottom:1px #3D5601 solid;}

.ctd{margin-top:25px;width:100%;}

.cbt{border-left:1px #4E6F01 solid; border-right:1px #4E6F01 solid; border-bottom:1px #4E6F01 solid;padding-top:12px;}

.ctim{padding:0px 0px 10px 0px;}
.ctim1{margin:5px 0px 0px 0px;vertical-align:top;border:1px #3D5601 solid;}

.cna{color:#FFB100;font-size:14px;font-weight:bold;padding:5px 0px 0px 10px;}
.cna a{color:#FFB100;text-decoration:none;}

.cds{color:#FFFFFF;line-height:18px;padding: 5px 10px 10px 10px;vertical-align:top;text-align:justify;}
.cds table{border:#FFFFFF 1px solid;margin-top:3px;margin-bottom:3px;}
.cds td {color:#FFFFFF;padding:3px;vertical-align:top;border:#FFFFFF 1px solid;}
.cds td ul {margin-left:10px;padding:0px;}
.cds td ul li{margin-left:10px;padding:0px;}
.cds A{color:#FFFFFF;}

.cve{color:#FFDE34;font-size:11px;background:#486502;border:1px #3D5601 solid;font-weight:bold;float:right;padding:2px 10px 4px 10px;margin:10px 10px 10px 0px;}
.cve a{color:#FFDE34;}
/**cate css**/

/*product css*/
.imgt{border-left:#F2EADB 1px solid;border-right:#F2EADB 1px solid;}

.pdbn1{border-top:1px #5B751C solid;border-bottom:1px #395003 solid;}
.pdbn2{border-bottom:1px #5B751C solid; border-top:1px #395003 solid;}

.proi1{vertical-align:top;padding:0px 10px 5px 0px;;}
.proi{vertical-align:top;padding:0px 0px 5px 10px;}
.pdtd{margin-top:10px;width:100%;}

.imgp{padding:0px 10px 0px 10px;}
.img{border:1px #3D5503 solid;}
.zoom{background:#486502;text-align:center;}

.prbt{border-left:1px #4E6F01 solid; border-right:1px #4E6F01 solid; border-bottom:1px #4E6F01 solid;padding-top:12px;margin-top:10px;clear:both;}

.pna{color:#FFB100;font-weight:bold;font-size:14px;background:url(prna.gif) center;padding:4px 10px 4px 10px;margin-top:25px;border:1px #51681B solid;line-height:23px;}
.pna a{color:#FFB100;text-decoration:none;}
.pna a:hover{color:#FFB100;text-decoration:underline;}
.pco{color:#ECFAFF;line-height:15px;padding:0px 10px 5px 10px;}

.pds{color:#FFFFFF;line-height:18px;padding:2px 10px 5px 10px;vertical-align:top; vertical-align:top;text-align:justify;width:100%;}
.pds table{border:#FFFFFF 1px solid;margin-top:3px;margin-bottom:3px;}
.pds td{color:#FFFFFF;padding:3px;vertical-align:top;border:#FFFFFF 1px solid;}
.pds td ul{margin-left:10px;padding:0px;}
.pds td ul li{margin-left:10px;padding:0px;}
.pds A{color:#FFFFFF;}
.pds p A{color:#000000;}

.pco1{color:#ECFAFF;line-height:15px;padding:5px 0px 5px 0px;}

.pds1{color:#FFFFFF;line-height:18px;padding:10px 0px 10px 0px;vertical-align:top;text-align:justify;}
.pds1 table{border:#FFFFFF 1px solid;margin-top:3px;margin-bottom:3px;}
.pds1 td{color:#FFFFFF;padding:3px;vertical-align:top;border:#FFFFFF 1px solid;}
.pds1 td ul{margin-left:10px;padding:0px;}
.pds1 td ul li{margin-left:10px;padding:0px;}
.pds1 A{color:#FFFFFF;}

.pds2{color:#FFB100;font-weight:bold;line-height:10px;margin-bottom:7px;}
.pds2 a{color:#FFB100;font-weight:bold;}
.pds2:hover{color:#FFB100;}

.pds3{color:#FFFFFF;line-height:18px;margin-bottom:3px;}
.pds3 a{color:#FFFFFF;}
.pds3:hover{color:#FFFFFF;}


.reqb{background:url(reqb.gif) center;border:1px #876565 solid; float:right;padding:2px 10px 3px 10px;margin-left:5px;}
.reqb1{background:url(reqb.gif) center;border:1px #876565 solid;float:left;padding:2px 10px 3px 10px; margin-right:5px;}
.reqb2{background:url(reqb.gif) center;border:1px #876565 solid;padding:2px 5px 3px 5px;}

.mar{padding-bottom:8px;}

.pds a.req{color:#000000; font-size:11px;font-weight:bold; background:url(req1.gif) no-repeat 0px 1px;padding:0px 0px 0px 15px; text-decoration:underline; display:block ;line-height:13px;}
.pds a.req:hover{color:#000000;text-decoration:none;}

.req{color:#000000; font-size:11px;font-weight:bold; background:url(req1.gif) no-repeat 0px 1px;padding:0px 0px 0px 15px; text-decoration:underline; display:block ;line-height:13px;}
.req:hover{color:#000000;text-decoration:none;}

.dow{float:right; cursor:pointer;}
.dow1{float:left; cursor:pointer;}

.pds a.req1{color:#000000; font-size:11px;font-weight:bold;background:url(req.gif) no-repeat 0px 3px;padding:0px 0px 0px 15px;text-decoration:underline;display:block;line-height:13px;}
.pds a.req1:hover{color:#000000;text-decoration:none;}

.req1{color:#000000; font-size:11px;font-weight:bold;background:url(req.gif) no-repeat 0px 3px;padding:0px 0px 0px 15px;text-decoration:underline;display:block;line-height:13px;}
.req1:hover{color:#000000;text-decoration:none;}

.cot{color:#FFE8DD;font-size:11px; padding:8px 25px 8px 10px;background:#3C3131;text-align:right;}
.vebq{color:#FFE8DD;font-weight:bold;background:url(crt.gif) 0px 3px no-repeat;padding:7px 0px 5px 25px;}

.vebq1 {color:#FFE8DD;background:#3C3131;font-size:12px;padding:0px 25px 8px 0px;text-align:right;border-bottom:1px #504545 solid;}
/**product css**/


/*career*/
.jbn1{border-top:1px #486502 solid;border-bottom:1px #51681B solid;}
.jbn2{border-bottom:1px #51681B solid;}

.jim{padding-right:10px;}
.jim1{margin:10px 0px 0px 0px;vertical-align:top;border:1px #3D5503 solid;}

.jtb{background-color:#587C01;width:100%;}

.jbo{border:1px #3D5502 solid;margin-top:40px;}
.jna{font-size:14px;color:#F1E501;font-weight:bold;padding:8px 10px 5px 12px;background:url(jhd.gif) left repeat-y;border-bottom:1px #4A6702 solid;}

.jds{color:#FFFFFF;line-height:18px;padding:5px 10px 5px 10px;vertical-align:top;text-align:justify;width:100%;}
.jds b{color:#FFFFFF;}
.jds table{border:#FFFFFF 1px solid;margin-top:3px;margin-bottom:3px;}
.jds td {color:#FFFFFF;padding:3px;vertical-align:top;border:#FFFFFF 1px solid;}
.jds td ul {margin-left:10px;padding:0px;}
.jds td ul li{margin-left:10px;padding:0px;}
.jds A{color:#FFFFFF;}

.apn{color:#FFFFFF;font-size:11px;font-weight:bold;padding:3px 5px 4px 5px;cursor:pointer;border-left:1px #3D5502 solid;border-right:1px #3D5502 solid;border-bottom:1px #3D5502 solid;background-color:#486502;text-align:left;width:70px;}
.apn A{color:#FFFFFF;}

.sub1{color:#FAFAFA;font-size:11px;text-decoration:none;line-height:11px;}
.sub1 td {background-color:#4F6F00;border:1px #3A5100 solid;}
.sub1 td table tr td {border:none;}

.snd1{color:#FAFAFA;font-size:11px;line-height:18px;padding:5px 5px 5px 5px;}
/**career**/

/*news css*/
.nbn1{border-top:1px #3D5601 solid;border-bottom:1px #3D5601 solid;}
.nbn2{border-bottom:1px #3D5601 solid;}

.nnbg{background-color:#5A8001;}

.nim{padding:0px 10px 10px 0px;}
.nim1{margin:10px 0px 0px 0px;vertical-align:top;border:1px #3D5503 solid;}

.nna{color:#F1E501;font-size:14px;font-weight:bold;text-align:left;padding:5px 10px 3px 10px;background-color:#557701;margin-top:25px;}

.nds{color:#FFFFFF;line-height:18px;padding:5px 8px 10px 10px;vertical-align:top;text-align:justify;width:100%;}
.nds table{border:#FFFFFF 1px solid;margin-top:3px;margin-bottom:3px;}
.nds tr td {color:#FFFFFF;padding:3px;vertical-align:top;border:#FFFFFF 1px solid;}
.nds td ul {margin-left:10px;padding:0px;}
.nds td ul li{margin-left:10px;padding:0px;}
.nds A{color:#FFFFFF;}
/**news css**/

/*search
.smr{width:100%;margin:40px 0px 30px 0px;}

.srli{background:#534545;padding-top:1px;margin:10px 0px 10px 0px;}
.srim{border:1px #534545 solid;margin-right:10px;vertical-align:top;}

.srlt{color:#ffffff;font-size:16px;background-color:#3B2D2D;font-weight:bold;padding:2px 5px 2px 15px;text-align:left;margin-top:20px;}
.srlt b{color:#fff000;}

#srds .srna {color:#FFB50B;font-size:14px;font-weight:bold;padding:0px 0px 5px 0px;} 
#srds .srna A{color:#FFB50B;text-decoration:none;}

#srds{color:#979191;line-height:18px;margin-bottom:10px;vertical-align:top;width:100%;}
#srds table{border:#979191 1px solid;margin-top:3px;margin-bottom:3px;}
#srds td {color:#979191;padding:3px;vertical-align:top;border:#979191 1px solid;}
#srds td ul {margin-left:10px;padding:0px;}
#srds A{color:#979191;}

#srds .srq {color:#FFB50B;font-weight:bold;text-align:right;}
#srds .srq A{color:#FFB50B;}
search**/
/*search css*/
.sr-img {border:1px #4E6F01 solid;}
.sr-line {background-color:#4E6F01;}

.sr-result {font-size:16px;color:#000000;padding:5px 5px 5px 5px;font-weight:bold;background-color:#FFD026;margin-top:12px;}
.sr-result b{color:#425E00;}

.sr-name{color:#F1E501;padding:0px 0px 0px 5px;font-weight:bold;}
.sr-name A{color:#F1E501;text-decoration:underline;}
.sr-name A:hover{color:#F1E501;text-decoration:none;}

.sr-desc{color:#ffffff;padding:5px 5px 5px 5px;line-height:18px;text-align:justify;}
.sr-desc table{ border:#ffffff 1px solid;margin-top:3px;margin-bottom:3px;}
.sr-desc td {color:#ffffff;padding:3px;vertical-align:top;border:#ffffff 1px solid;}
.sr-desc td ul {margin-left:10px;padding:0px;}
.sr-desc A{color:#ffffff;text-decoration:underline;}
.sr-desc A:hover{color:#ffffff;text-decoration:none;}

.sr-req {color:#F1E501;padding:5px 0px 3px 0px;float:right;font-weight:bold;background-repeat:no-repeat;background-position:center bottom;}
.sr-req A{color:#F1E501;text-decoration:underline;}
.sr-req A:hover{color:#F1E501;text-decoration:none;}
/**search css**/

/*tradeoffer css*/
.tabquery{margin-bottom: 0.0em;}
.to-star {color:#ffff00;}
.to-input{width:94%;}
.to-line {background-color:#4A6702;}

.to-date {color:#ffffff;padding:5px 2px 5px 0px;line-height:18px;}
.to-date b{color:#F1E501;}

.to-text-sm {color:#ffffff;font-size:9px;line-height:12px;}

.to-name {color:#F1E501;font-weight:bold;background-color:#4F6F00;padding:5px 2px 5px 0px;margin-bottom:5px;}

.to-send-response-form {font-size:11px;color:#ffffff;line-height:18px;padding:5px 5px 5px 5px;}

.submenu{font-size:11px;color:#F1CAB2;text-decoration:none; line-height:11px;}
.submenu td {background-color:#46444B;border:1px #5A585D solid;}
.submenu td table tr td {border:none;}

.to-send-response {font-size:11px;color:#ffffff;line-height:12px;padding:7px 5px 5px 20px;background-repeat:no-repeat;background-position:5px 6px;font-weight:bold;cursor:pointer;background-color:#4F6F00;border:1px #4A6702 solid;}

.to-desc {color:#ffffff;line-height:18px;text-align:justify;}
.to-desc table{ border:#ffffff 1px solid;margin-top:3px;margin-bottom:3px;}
.to-desc td {color:#ffffff;padding:3px;vertical-align:top;border:#ffffff 1px solid;}
.to-desc td ul {margin-left:10px;padding:0px;}
.to-desc A{color:#ffffff;text-decoration:underline;}
.to-desc A:hover{color:#ffffff;text-decoration:none;}
/**tradeoffer css**/
/*contact-tips*/
.conb{background-color:#608801;padding:10px;}
.cob{border:1px #3D5601 solid;background-color:#587C01;}
.cob td {border:1px #3D5601 solid;}

.ctp{color:#D9D5D3;line-height:18px;padding:10px;}
.cthd{color:#ffffff;font-size:14px;font-weight:bold;background-color:#395000;padding-left:10px;padding-bottom:3px;}
/**contact-tips**/

/*thanks*/
.fmb{background-color:#FEFEFE;}
.tln{background-color:#3E5800;margin:0px 5px 10px 0px;padding-top:7px;border-bottom:2px #789F18 solid;}

.thtx{background-image:url(thb.gif);line-height:18px;color:#000000;padding:2px 45px 10px 50px;border:1px solid #51681B;}
.thtx span{color:#FF3000;}
.thtx b{color:#FF3000;}
.thtx a{color:#FF3000;}        

.sv{color:#FFFDF7;font-size:13px;padding-right:21px;text-align:right;}
.sv a{color:#FFFDF7;}        

.tbot{color:#191919;text-align:center;margin-bottom:4px;margin-top:40px;}
.tbot a{color:#92AC54;}
.tbot a:hover{color:#191919;}

.chd1{color:#486502;font-size:22px;font-weight:bold;margin-top:15px;}
.chd{color:#577808;font-size:18px;font-weight:bold;padding:5px 2px 0px 4px;margin-bottom:2px;}

.frtx{color:#100000;line-height:18px;padding:0px 10px 20px 4px;text-align:justify;}
.frtx table{border:#100000 1px solid;margin-top:3px;margin-bottom:3px;}
.frtx td {color:#100000;padding:3px;vertical-align:top;border:#000000 1px solid;}
.frtx td ul {margin-left:10px;padding:0px;}
.frtx a{color:#100000;}        
.frtx a:hover{text-decoration:underline;} 

.tad{color:#0F0000;line-height:22px;}
.tad b.name{color:#80AA1B;}
.tad a{color:#0F0000;}        

.tic{color:#0F0000;background-repeat:no-repeat;background-position:5px 5px;line-height:16px;padding:4px 0px 4px 30px;}
.tic a{color:#0F0000;}        
/**thanks**/

/*contact*/
.cont{font-size:14px;color:#FFF7F1;line-height:20px;margin-top:6px;margin-bottom:6px;padding-left:10px;}
.cont a{color:#FFF7F1;}

.conbg{background:url(qu.gif) no-repeat;width:590px; padding:0px 0px 0px 145px;margin-top:50px;}
.can {margin-right:8px;padding:2px;font-weight:bold; height:32px;cursor:pointer;}
.can .fo{float:left;cursor:pointer;}
.can p{padding-top:3px;cursor:pointer;text-align:left;}
.ifax{color:#DCE5C7;background:url(if.gif) no-repeat 10px 4px; padding:5px 0px 5px 30px;}
.phn{color:#DCE5C7;background:url(ip.gif) no-repeat 10px 4px; padding:5px 0px 5px 30px;}
.mob{color:#DCE5C7;background:url(im.gif) no-repeat 12px 5px; padding:5px 0px 5px 27px;}

.email{color:#DCE5C7; background:url(email.gif) no-repeat 12px 5px; padding:5px 0px 8px 36px;}
.email a{color:#DCE5C7; text-decoration:underline;}
.email a:hover{color:#DCE5C7; text-decoration:none;}

/**contact**/

.pslnk{color:#ffffff;text-align:center; padding:2px 4px 9px 4px;}
.pslnk a{color:#ffffff;text-decoration:none;}
.pslnk a:hover{color:#F1E501;}

.psup{color:#F1E501; text-align:center;font-weight:bold; background:url(psarr.gif) bottom center no-repeat; padding:2px 4px 9px 4px;}
.psdv{background:url(psdv.gif) bottom left;}
.pli{background:url(pli.gif) repeat-x bottom left; padding:1px 1px 0px 1px; margin-bottom:20px; margin-top:20px;}
.psli{background:url(psli.gif) bottom left;}


.csdv{padding:0px; margin-left:10px;}
.csdv td{padding:5px 10px 5px 0px; vertical-align:top;}

.csub{font-size:11px;color:#E2FF9D; line-height:15px;background:url(csub.gif) no-repeat 0px 6px;padding:0px 10px 0px 10px;font-weight:bold;}
.csub a{color:#E2FF9D;}
.csub a:hover{color:#FFB100;}

/* final new query form */
.prdn2{background-color:#eae9e9;font-size:12px;color:#000000; padding:7px 0px 4px 5px;font-family:arial;height:19px;}
.prdn2 b{font-size:15px;}
.prdn3{background-color:#eae9e9;font-size:12px;color:#000000; padding:7px 0px 4px 13px;font-family:arial;height:19px;}
.prdn3 b{font-size:15px;}

.prdnn{font-size:18px;font-weight:bold;color:#000000; padding:4px 0px 4px 5px;}

.dis{margin-top:2px;background-color:#F9F9F9;}
.dis1{border-top:1px solid #ffffff;border-bottom:1px solid #ffffff;}
.qhd2{font-size:12px;color:#000000;padding:4px 0px 4px 5px;font-family:arial;text-align:left;}

.frtxt {font-size:12px; font-family:arial,verdana; border:1px solid #7f9db9;}
.prdn1{background-color:#eae9e9;margin-top:2px;margin-bottom:3px;font-size:15px;font-weight:bold;color:#000000; padding:7px 0px 4px 5px;font-family:arial;height:19px;}

.codtn {border:1px #f5f4f4 solid;border-collapse:collapse;}
.codtn td{border:1px #f5f4f4 solid;border-collapse:collapse;}
.codtn td td{border:0px #f5f4f4 solid;border-collapse:collapse;}

.txtf{padding:1px;  border:1px solid #aed2f3; padding-top:2px; padding-bottom:2px; font-family:arial; font-size:12px;}

.txtfa{padding:1px; border:1px solid #aed2f3; padding-top:2px; padding-bottom:2px; font-family:arial; font-size:12px; color:#9e9e9e;}
.txtfn{padding:0px; border:1px solid #aed2f3; padding-top:2px; padding-bottom:2px; font-family:arial; font-size:12px;}

.radd4 {font:13px arial; color: #3f3f3f; line-height:19px;padding:0px 0px 0px 5px;text-align:left;}
.radd4 b.wh{color:#000000;font-size:14px;}
.radd4 a{color: #3f3f3f;text-decoration:none;}
.radd4 a:hover{color:#000000;text-decoration:underline;}

.odd {font:13px arial; color: #3f3f3f; line-height:19px;padding:0px 0px 0px 5px;text-align:left;}
.odd b.wh{color:#000000;font-size:14px;}

.rad {border:0px; margin:0px; padding:0px; color: #3f3f3f;}
.rad td,th{font-size:13px;line-height:21px;font-family:arial;padding:0px 4px 0px 5px;}
.rad a{color:#3f3f3f;}

.radd3{font:13px arial;line-height:17px;padding:7px 0px 8px 0px; border-top:1px solid #f5f4f4; border-bottom:1px solid #f5f4f4; margin:6px 0px 5px 5px;}
.radd3 a{color:#0000ff;text-decoration:underline; background:url('phone.gif') no-repeat; padding:0px 15px 0px 20px;}
.radd3 a.s{color:#0000ff;text-decoration:underline; background:url('sms2.gif') no-repeat; padding:0px 0px 0px 20px;}
.radd3 a:hover{color:#FF0000;text-decoration:none;}

.doff {DISPLAY: none}
.don {DISPLAY: block}

.b1{margin-top:0px; color:#017bbc; font-family:arial;}
.b1 td{border-bottom:1px solid #f5f4f4; padding:7px 0px 7px 6px;}
.p2{font-size:12px;color:#7f7f7f; font-family:verdana;font-weight:bold;}

.u td{border:none;font-family:arial;font-weight:normal; padding:3px;}
.up{color:#0000ff;font-size:11px;line-height:17px; font-family:verdana; }
.up a{color:#0000ff;text-decoration:none;}
.up a:hover{color:#ff800b;text-decoration:underline;}

.qdhd{font-size:18px;color:#000000; text-align:left; text-transform:uppercase;font-weight:bold;padding-left:5px;}
.qdhd1{background-color:#eae9e9;}
/* final new query form  end */

/*travel query form  start */
.eq-hd{color:#000000;font-size:18px;padding-bottom:2px;margin:0px;text-transform:uppercase;font-weight:bold;}
.enq-line{background-color:#e5e5e5;height:1px;font-family:arial; font-size:12px;}
.enq-color1{background-color:#f9f9f9;padding:12px 12px 5px 12px;}
.enq-color2{background-color:#f9f9f9;padding:0px 12px 12px 12px;}
.enq-color3{padding:3px 0px 3px 0px; font-family:arial;}
.enq-color4 {margin:0px 3px 0px 0px;}
.enq-head{color:#000000;font-size:12px;font-family:arial;}
.enq-head b{font-size:13px;}
.enq-status{font-family:arial;font-size:11px;}
.enq-text{font-size:12px;color:#000000;padding-top:9px;font-family:arial;}
.enq-text1{font-size:12px;color:#000000;padding:5px 0px 2px 0px;font-family:arial;}
.enq-text3{font-size:11px;color:#000000;padding:5px 0px 2px 0px;font-family:arial;}

.enq-code{font-size:12px;color:#000000;font-family:arial;}
.enq-optional{font-size:11px;color:#000000;margin-left:4px;font-family:arial;}
.enq-optional1{font-size:11px;color:#a4a4a4;font-family:arial;margin-left:4px;}
.enq-textarea {background-color:#FFFFFF;border:1px solid #c6dcf1;width:578px;font-family:arial;font-size:12px;}

.field {background-color:#FFFFFF;border:1px solid #c6dcf1;font-family:arial;font-size:12px;margin:0px;}
.field2 {background-color:#FFFFFF;border:1px solid #c6dcf1;font-family:arial;font-size:16px;margin:0px;height:22px;font-weight:bold;padding-top:5px;}
.field1 {background-color:#FFFFFF;border:1px solid #c6dcf1;COLOR:#cccccc;font-family:arial;font-size:12px;margin:0px;}
.submit {background:url('submit.gif') no-repeat;font-family:arial;color:#ffffff;font-size:17px;height:32px;width:180px;text-align:center;font-weight:bold;cursor:pointer;border:0px;padding-left:17px;}
/*travel query form  end */

/* for cart only start */
.enq-addmore{background:url('zero.gif'); font-size:12px;color:#0000ff;font-family:arial;border: 1px solid #FFFFFF; width:85px;text-decoration:underline;}
.enq-addmore:hover{color:#000;text-decoration:none;}

.enq-head1 {color:#000000;font-size:12px;background-color:#eae9e9;padding:4px 4px 8px 4px;margin-bottom:1px;font-family:arial;}
.enq-head1 b{font-size:15px;}
.enq-head1 b.b2{font-size:12px;}
table.cart {font-family:arial;font-size: 12px;}
table.cart th {text-align: left;padding: 5px;background: #e8f0f9;color: #3f3f3f;border-bottom: 1px solid #FFFFFF;border-right: 1px solid #FFFFFF;}
table.cart th.enq-last1 {border-bottom: 1px solid #f1f1f1;border-right: 1px solid #f1f1f1;}
table.cart td {padding: 5px;vertical-align:top;background: #f9f9f9;border-bottom: 1px solid #FFFFFF;border-right: 1px solid #FFFFFF;}
table.cart td.enq-last {border-bottom: 1px solid #fafafa;border-right: 1px solid #fafafa;font-family:arial;font-size:11px;}
table.cart td.enq-last a{color:#000000;text-decoration:none;}
table.cart td.enq-last a:hover{color:#000000;text-decoration:none;}
/* for cart only end */
/* final travel query form end */

/*Zoom.css Start*/
.pr-txt{font-family:arial,verdana,helvetica;text-align:left;color:#ffffff;font-size:17px;font-weight:bold;padding-top:3px; padding-left:5px; padding-bottom:3px;}

/*for background color*/
.main{background:url(blowup-tbg.gif) repeat-x;}
.mainnew{background:url(bg-line.png) repeat-x; background-position:0px -60px;}

/*for border color*/
.bgclor{border:3px solid #004AC1;border-top:1px solid #004AC1;background-color:#ffffff;}
.bgclor_new{border-top:6px solid #004AC1;background-color:#ffffff;}

/*for line*/
.hand{cursor:pointer;}
.ucan{font-family:arial;font-size:11px;text-align:center;color:#3B3B3B;}

.image_div{height:500px;vertical-align:top;width:500px;overflow:auto;margin-bottom:2px;}
.image_div_new{vertical-align:top;margin-bottom:2px;}

.bodyscroll1{margin:0px;}

.bodyscroll{overflow-y:hidden;overflow:hidden;}

.button{border-top:1px solid #004AC1;background-color:#ffffff;margin-top:1px;}
.button td{padding-right:6px;padding-left:6px;}
.button td table td{padding-right:0px;padding-left:0px;}

.doff{display:none;}
.don{display:block;}

.btborder{MARGIN-top:3px;MARGIN-bottom:3px;}
.btborder div{text-align:left;font-weight:bold;background-image:url('add-eq.gif');background-repeat:no-repeat; font-size:12px;font-family:arial;line-height:26px; margin-top:1px; padding-right:3px;}
.btborder div a{text-decoration:none;padding-left:23px;color:#270000;}
.btborder div a:hover{text-decoration:none;padding-left:23px;color:#FF0000;}

.btborder div.r{text-align:left;font-weight:bold;background-image:url('add-eq1.gif');background-repeat:no-repeat; font-size:12px;font-family:arial;line-height:26px;margin-top:1px;}
.btborder div.r a{text-decoration:none;padding-left:23px;color:#270000;}
.btborder div.r a:hover{text-decoration:none;padding-left:23px;color:#FF0000;}
/**Zoom.css End**/

/*SiteMap Start*/
.smap{color:#000000;font-size:18px;font-family:verdana;line-height:26px;font-weight:bold;padding-top:5px;border-bottom:1px solid #e3e3e3; margin:0px 40px 0px 30px;}
.qdv1 {background-color:#ffffff; margin:30px 150px 0px 150px; border:3px #E5E5E5 solid;}

.sm-txt{color:#000000;font-size:13px;font-family:verdana;line-height:18px;margin:5px 20px 0px 70px;}
.sm-txt a{color:#000000;text-decoration:none;}
.sm-txt a:hover{color:#000000;text-decoration:underline;}

.sm-lne{color:#616161;font-size:13px;font-family:verdana;line-height:18px;}
.sm-lne a{color:#616161;text-decoration:none;}
.sm-lne a:hover{color:#616161;text-decoration:underline;}

.sm-lne1{color:#8c8c8c;font-size:12px;font-family:verdana;line-height:18px;}
.sm-lne1 a{color:#8c8c8c;text-decoration:none;}
.sm-lne1 a:hover{color:#8c8c8c;text-decoration:underline;}
/**SiteMap End**/

/**New facsheet css**/
.c13{color:#ff0;}
.c13 a{color:#ff0;}
.c18 {color:#fff;}
.c19 {color:#ff0} 
.c19 a{color:#fff}
.c20 {color:#ff0}
.i23{background:url(mi2.png) no-repeat -227px -86px;}
.i24{background:url(mi2.png) no-repeat -227px -107px;}
.i25{background:url(mi2.png) no-repeat -227px -129px;}
.bo8{border-bottom:1px solid #486600; }
.fsh{background:url(mi2.png) no-repeat;}
.fs1{background:url(mi2.png) no-repeat -11px 0}
.fbg1{background:url(mi2.png) repeat-x 0 -38px;}
.hts {border:1px #486600 solid;}
.fac-tab1 {font-size:12px; color:#fff;line-height:17px;}
.fac-tab1 td{vertical-align:top; padding:5px;}
.fac-tab1 td table td{vertical-align:top; border-bottom:none; padding:8px 8px 9px 12px;}
.fac-tab1 td ul{ color:#fff;margin:0px 0px 0px 13px;}
.fac-tab1 td ul li{ color:#fff;}
.fac-tab1 table.b27 td{border-bottom:1px solid #486600;}
.b27{width:100%;}
.b27 tr{border-bottom:1px solid #486600;}
.b28{border-bottom:1px solid #486600;width:100%;}
.b28 table tr td{padding-top:0px;}
.b28 table td ul{margin:0px;}
.b28 table td ul li{padding:0px;}
.bg8{background-color:#567901;}
.bg6{background-color:#4B6A02;}
.b29{border-bottom:3px solid #4b6a02;}
.b30{border:1px solid #425d01;}
/**New facsheet css**/